# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

/deploy/docker/
/src/logs/*.log
config.ini
.idea

checkpoint/
/src/data_source/*.parquet
/src/tmp/*.parquet
/src/data/*.parquet

test.py
!.gitkeep