# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Customize
/deploy/docker/volumes/airflow/*
/deploy/docker/volumes/kafka/*
/deploy/docker/volumes/postgres/*
/deploy/docker/volumes/zookeeper/*

/src/logs/*.log
config.ini
.idea

checkpoint/
/src/data_source/*.parquet
/src/tmp/*.parquet
/src/data/*.parquet

test.py
!.gitkeep