pyspark==3.2.0
kafka-python
apache-airflow
snowflake-connector-python
snowflake-connector-python[pandas]
snowflake-sqlalchemy
great-expectations
python-dotenv
matplotlib
seaborn
joblib
pandas
plotly
dask
streamlit
scikit-learn
termcolor